[Unit]
Description=NRF24L01 listen Service

[Service]
TimeoutStartSec=0
Restart=yes
WorkingDirectory=/home/user/yaih/RPi_server
ExecStart=/usr/bin/python listen.py

[Install]
WantedBy=default.target
